@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cuzeth';
  src: url('/fonts/Cuzeth.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.cuzeth {
  font-family: 'Cuzeth', sans-serif;
  font-size: 40px;
  color: var(--text);
}

:root {
  color-scheme: dark;
  /* 14191F */
  --maincolor: #0a121b;
  --supportingcolor: #0a121b;
  --text: rgb(255, 255, 255);
  --heading: #f7f8fa;
  --primary: #fff;
  --navbar-glass: rgba(0, 0, 0, 0.15);
  --navbar-shadow: rgba(0, 0, 0, 0.5);
}

html {
  scroll-behavior: smooth;
  background-color: var(--maincolor);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins), sans-serif;
  position: relative;
  animation: bruh 0.35s ease-out;
  will-change: transform, opacity;
  transform: translate3d(0, 0, 0);

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes bruh {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

*::-webkit-scrollbar {
  display: none;
}

small {
  font-size: smaller;
}

/* .transition-1 {
  background: linear-gradient(to bottom, var(--maincolor), var(--supportingcolor));
  height: 80px;
}

.transition-2 {
  background: linear-gradient(to bottom, var(--supportingcolor), var(--maincolor));
  height: 80px;
} */

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  z-index: 1;
  contain: layout;
}

code {
  background: #1f1f1f;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

em {
  color: #F8D664;
  text-shadow: 0 0 60px #f8d66461;
  display: inline-block;
  font-style: normal;
}

img,
iframe {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  filter: drop-shadow(0 0 100px #36363652);
}

/* unselectable */
.unselectable,
img {
  /* user-drag: none; */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none;
  }
}
@media screen and (max-width: 768px) {
  .home__hero-text-wrapper {
    padding-bottom: 65px;
  }

  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .col {
    flex-basis: 100%;
    max-width: 100%;
  }
}