.centered-text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--text);
    padding: 60px 20px;
    background-color: var(--supportingcolor);
}

.centered-text-markdown {
    max-width: 1200px;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.8; /* Increased line height for better readability */
    color: var(--text);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

/* Headers */
.centered-text-markdown h1,
.centered-text-markdown h2,
.centered-text-markdown h3,
.centered-text-markdown h4,
.centered-text-markdown h5,
.centered-text-markdown h6 {
    margin: 30px 0 15px; /* Increased margin for better spacing */
    font-weight: 700;
    line-height: 1.3;
    color: var(--heading);
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

.centered-text-markdown h1 {
    font-size: 2.5em;
}

.centered-text-markdown h2 {
    font-size: 2em;
}

.centered-text-markdown h3 {
    font-size: 1.75em;
}

.centered-text-markdown h4 {
    font-size: 1.5em;
}

.centered-text-markdown h5 {
    font-size: 1.25em;
}

.centered-text-markdown h6 {
    font-size: 1em;
}

/* Paragraphs */
.centered-text-markdown p {
    margin: 15px 0; /* Increased margin for better spacing */
}

/* Lists */
.centered-text-markdown ul,
.centered-text-markdown ol {
    margin: 15px 0; /* Increased margin for better spacing */
    padding-left: 20px;
    text-align: left;
}

.centered-text-markdown li {
    margin: 5px 0;
}

/* Bold and Italic */
.centered-text-markdown strong {
    font-weight: bold;
}

.centered-text-markdown em {
    font-style: italic;
}

/* Inline Code */
.centered-text-markdown code {
    background: #1f1f1f;
    border-radius: 5px;
    padding: 0.2em 0.4em;
    font-size: 0.9em;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    color: #f8f8f2;
}

/* Blockquotes */
.centered-text-markdown blockquote {
    margin: 20px 0; /* Increased margin for better spacing */
    padding: 10px 20px;
    border-left: 5px solid #ccc;
    background-color: #f9f9f9;
    color: #666;
    text-align: left;
}

/* Links */
.centered-text-markdown a {
    color: #1e90ff;
    text-decoration: none;
}

.centered-text-markdown a:hover {
    text-decoration: underline;
}